@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Open+Sans:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 1px;
    width: 100%;
    height: 100vh;
    background-image: url(https://coreight.com/sites/default/files/typographie.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 102vw;
}

html {
    scroll-behavior: smooth;
}

/*
    .white {
        width: 100%;
        height: 50vh;
        margin: 50vh 0;
        background-color: cornsilk;
    }
*/


h1 {
    margin: 20vh auto 10vh;
    font-size: 100px;
    text-align: center;
    font-family: 'Handlee', sans-serif;
    font-weight: bold;
    color: white;
}

h2 {
    text-align: left;
    margin: 10vh auto;
    font-size: 50px;
    width: 60%;
}

h3 {
    text-align: left;
    margin: 7vh auto;
    font-size: 40px;
    width: 60%;
}

.circle {
    margin: 0 auto 30vh;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(150,150,150, 0.7);
    position: relative;
}

.circle:hover {
    top: 10px;
    background-color: rgba(150,150,150, 1);;
}

.arrow {
    position: absolute;
    top: -15px;
    left: 25px;
    margin: 25px auto;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    background-color: ;
    border-bottom: black solid 3px;
    border-right: black solid 3px;
}

.arrow:nth-child(2) {
    top: -5px;
}

.arrow:nth-child(3) {
    top: 5px;
}

#text {
    background-color: white;
    width: 100%;
    padding-top: 5vh;
    margin-bottom: 5vh;
}

p {
    text-align: justify;
    margin: 5vh auto;
   /* background-color: green;*/
    width: 60vw;
    font-size: 21px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
    width: 58%;
    margin: 0 auto 0 22vw;
}

li {
    font-size: 21px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 3vh auto;

}




img.left {
    display: block;
    margin: 5vh auto 5vh 20vw;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 10vh;
    width: 60%;
    margin: 10vh auto;
    row-gap: 4vw;
    align-items: center;
}

span {
    display: block;
    width: 70%;
    margin: 0 auto;
}

.source {
    display: block;
    width: 40%;
    background-color: crimson;
    margin: 5vh auto;
}


